@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Custom";
  src: url("./assets/fonts/SpaceGrotesk.ttf") format("TrueType");
}

html {
  --text: 240, 234, 243;
  --background: 22, 12, 28;
  --primary: 191, 144, 219;
  --secondary: 95, 31, 133;
  --accent: 33, 169, 182;
}

/* bg-Primary text-Background border-2 border-dashed border-Text rounded-xl */

.toster {
  background-color: rgba(var(--primary), 1);
  color:  rgba(var(--background), 1);
  border: 2px dashed  rgba(var(--text), 1);
  border-radius: 0.75rem;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  width: 0;
}

::-webkit-scrollbar {
  width: 0px;
}
